<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

       <bean id="obs1" class="ObserverConcrete"></bean>
       <bean id="obs2" class="ObserverConcrete"></bean>
       <bean id="obs3" class="ObserverConcrete"></bean>


       <bean id="ConSubject" class="ConcreteSubject">
        <constructor-arg>
            <util:list id="obsList" value-type="Observer">
                <ref bean="obs1"></ref>
                <ref bean="obs2"></ref>
                <ref bean="obs3"></ref>
            </util:list>
        </constructor-arg>
       </bean>
</beans>