<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       xmlns:util="http://www.springframework.org/schema/util">

       <bean id="obs1" class="ObserverConcrete"></bean>
       <bean id="obs2" class="ObserverConcrete"></bean>
       <bean id="obs3" class="ObserverConcrete"></bean>


       <bean id="ConSubject" class="ConcreteSubject">

       </bean>
       <util:list id="obsList" value-type="Observer">
           <ref bean="obs1"></ref>
           <ref bean="obs2"></ref>
           <ref bean="obs3"></ref>
       </util:list>
</beans>